<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Firstservlet</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>input.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
  <servlet-name>Myservlet</servlet-name>
  <url-pattern>/fs</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  <servlet-name>Loginservlet</servlet-name>
  <url-pattern>/ls</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Myservlet</servlet-name>
  <servlet-class>com.jsp.servlet.Myservlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>Loginservlet</servlet-name>
  <servlet-class>com.jsp.servlet.Loginservlet</servlet-class>
  </servlet>
</web-app>